:root {
  --color-dark: #7B0000;
  --color-light: #FEDB00;
  --color-brand: #101010;
  --grid-size: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  color: var(--FEDB00);
  background-color: var(--color-dark);
  font-family: 'Convergence', sans-serif;
}

header {
  background-color: var(--color-dark);
  display: flex;
  align-items: center;
  padding: var(--grid-size);
}

main {
  flex: 1;
  padding: var(--grid-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', cursive;
  color: var(--color-brand);
}

footer {
  padding: var(--grid-size);
  color: var(--color-light);
  background-color: var(--color-dark);
}
